*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: burlywood;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/*head*/

.head{
    border-bottom: 1px solid #000;
    font-size: 32px;
}

.head_string{
    padding: 15px 15px 20px 15px;
    overflow: hidden;
}

.head_titile{
    float: left;
}

.head_option{
    margin-left: 20px;
    float: left;
}

.head_option ul{
    overflow: hidden;
}

.head_option ul li{
    float: left;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: antiquewhite;
}

/*slogan*/

.slogan{
    width: 100%;
    font-size: 48px;
    text-align: center;
    font-family:"Times New Roman",Georgia,Serif;
}

/*content*/

.content{
    overflow: hidden;
    margin-top: 50px;
}

.content .content_three{
    float: left;
}

.content_three_slogan{
    font-size: 64px;
    text-align: center;
}

.slogan_face{
    width: 300px;
    height: 300px;
    border-radius:100%;
}

.content_three_word{
    overflow: hidden;
    border-bottom: 1px solid #fff;
    padding: 10px;
    margin-top: 30px;
}

.content_three_word_message{
    margin-bottom: 20px;
    overflow: hidden;
}

.content_three_word_message_img{
    width: 50px;
    float: right;
}

.content_three_word_message_img img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.content_three_word_message_p{
    color: #000;
    font-size: 12px;
    float: right;
    font-family:"Times New Roman",Georgia,Serif;
    text-align: right;
    width: 65%;
    margin-right: 40px;
}

.content_three_word_customize{
    overflow: hidden;
}

.content_three_word_customize_img{
    width: 80px;
    float: left;
}

.content_three_word_customize_img img{
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
}

.content_three_word_customize_p{
    color: #F0F0F0;
    font-size: 12px;
    float: left;
    font-family:"Times New Roman",Georgia,Serif;
    text-align: left;
    width: 65%;
    margin-left: 40px;
}


.content_three_right_head{
    padding: 10px;
    margin: 10px;
    border-bottom: 4px solid #fff;
    color: seagreen;
    font-weight: bold;
    font-family:"Times New Roman",Georgia,Serif;
}

.content_three_right_content{
    overflow: hidden;
}

.content_three_right_content_img{
    width: 100px;
    float: left;
}

.content_three_right_content_img img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 100%;
}

.content_three_right_content_p{
    color: #F0F0F0;
    font-size: 12px;
    font-family:"Times New Roman",Georgia,Serif;
    text-align: left;
    float: left;
    margin-left: 20px;
    line-height: 100px;
}

.content_three_right_saying{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #000;
}